// out: ../css/style.min.css, sourcemap: true, compress: true


body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h1,h2,h3 {
  text-transform: uppercase;
}

ul {
  padding-left: 0;
}

input {
  margin-bottom: 20px;
  border-radius: 0 !important;
}

.btn {
  border-radius: 0;
  border: 0;
}

.btn-primary {
  background-color: #3498db;
  &:hover {
    background-color: #2980b9;
  }
}

.navbar {
  padding: 15px 0;
  margin-bottom: 0;
  height: auto;
  border-bottom: 0px;

  .navbar-collapse {
    .navbar-right {
      li {
        margin-right: 20px;
        a {
          color: #FFF;
        }
      }
    }
  }
}

form {
  input {
    text-align: center;
  }
  h2 {
    &:after {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background-color: #000;
      margin: 30px auto;
    }
  }
}

section {
  margin-bottom: 50px;
}

.main {
  padding: 50px 0;
}




// FORMULAIRE INSCRIPTION
#register {
  .form-register {
    .list_competence {
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}




footer {
  padding: 30px 0;
  background-color: #000;

  .menu-footer {

  }

}
